*.[oa]
*.la
*.lo
*.so
*.dll
*.lib
.deps/
.libs/
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/m4/
/configure
/lib/codescribe-config.h*
/config.*
/libtool
stamp-h1
/data/CodeScribe-1.0.gir
/data/codescribe-1.0.vapi
/lib/*.[ch]
/src/*.[ch]
/src/codescribe
/src/*.stamp
/lib/*.stamp
/codescribe-*
